body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100vh;
    background-color: hsl(0, 0%, 30%);
}
#display{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    padding: 20px;
    font-size: 6rem;
    text-align: center;
    border: solid;
    background-color: hsl(300, 1%, 16%);
    color: whitesmoke
}
#buttons{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;
    padding: 20px;
}


.CV{
    width: 120px;
    height: 080px;
    border: none;
    background-color:rgb(0, 0, 0);
    color: white;
    font-size: 3rem;
    border-radius: 40px;
    font-weight: bold;
    curser: pointer;
}
.CV:hover{
    background-color:rgb(22, 61, 34);
}
.CV:active{
    background-color:rgb(28, 73, 42);
}




.Music{
        width: 200px;
    height: 080px;
    border: none;
    background-color:rgb(0, 0, 0);
    color: white;
    font-size: 3rem;
    border-radius: 40px;
    font-weight: bold;
    curser: pointer;
}
.Music:hover{
    background-color:rgb(22, 61, 34);
}
.Music:active{
    background-color:rgb(28, 73, 42);
}



.Instagram{
        width: 280px;
    height: 080px;
    border: none;
    background-color:rgb(0, 0, 0);
    color: white;
    font-size: 3rem;
    border-radius: 40px;
    font-weight: bold;
    curser: pointer;
}
.Instagram:hover{
    background-color:rgb(22, 61, 34);
}
.Instagram:active{
    background-color:rgb(28, 73, 42);
}



.Youtube{
    width: 240px;
    height: 080px;
    border: none;
    background-color:rgb(0, 0, 0);
    color: white;
    font-size: 3rem;
    border-radius: 40px;
    font-weight: bold;
    curser: pointer;
}
.Youtube:hover{
    background-color:rgb(61, 22, 22);
}
.Youtube:active{
    background-color:rgb(73, 28, 28);
}



.Chess{
    width: 180px;
    height: 080px;
    border: none;
    background-color: #383736;
    color: white;
    font-size: 3rem;
    border-radius: 40px;
    font-weight: bold;
    curser: pointer;
}
.Chess:hover{
    background-color:#302e2e;
}
.Chess:active{
    background-color:#242322;
}
